<mat-card style="margin-left: 10px;">
    <h1>Profile Details</h1>
    <mat-card-content>
      <div class = "bootstrap-wrapper">
        <div class = "container">
          <div class = "text-center">
            
  
            <h1 class="mt20">{{ user.name }} {{ user.surname }}</h1>
          </div>
          <div class = "row">
            <div class = "col-md-10 offset-md-1">
              <table class = "table text-center">
                <tr>
                  <td>Username</td>
                  <td>{{ user.username }}</td>
                </tr>
                <tr>
                  <td>ID</td>
                  <td>{{ user.id }}</td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>{{ user.phone }}</td>
                </tr>
                <tr>
                  <td>Role</td>
                  <td>{{ user.authorities[0].authority }}</td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td>{{ user.enabled ? "Active" : "No active"}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <mat-card-actions style="display: flex; justify-content: center; gap: 10px;">
        <button mat-raised-button color = "primary">Upadate</button>
        <button mat-raised-button color = "accent">Share</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>