<mat-card>
    <h1>Add a new Category</h1>
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form (ngSubmit)= "formSubmit()">
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Title</mat-label>
                <input
                required
                autofocus
                type="text"
                name="tilte"
                matInput
                placeholder="Title of Category"
                [(ngModel)] = "cathegory.title"
                >
              </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea
                name="description"
                matInput
                placeholder="Category Description"
                rows="15"
                [(ngModel)] = "cathegory.description"
                >
                </textarea>
              </mat-form-field>
  
              <div class="container text-center mt15">
                <button mat-raised-button color="primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>